<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/stylesheets/index.css" />
        <title>Sign in</title>
        <script src="/javascripts/hash.js"></script>
    </head>
    <body>
        <a href="/" class="button">Accueil</a>
        <% if (locals.message)  %>
        <%- locals.message %>
        <form name="signinForm" action="/account/signin" method="POST">
            <table>
                <tbody>
                    <tr>
                        <td><label for="username">Nom d'utilisateur :</label></td>
                        <td><input name="username" value="<%= locals.username ?? '' %>" /></td>
                    </tr>
                    <tr>
                        <td><label for="password">Mot de passe :</label></td>
                        <td><input type="password" name="password" value="" /></td>
                        <td><label id="passwordMessage"></label></td>
                    </tr>
                </tbody>
            </table>
            <div><input type="submit" value="Se connecter"/></div>
        </form>

        <script>
            let signinForm = document.forms.signinForm;
            signinForm.addEventListener("submit", (e) => {
                e.preventDefault();
                validateSignIn();
            });
            async function validateSignIn() {
                let passwordMessage = document.getElementById("passwordMessage");
                let passwordRepeated = document.getElementById("passwordRepeated");
                passwordMessage.textContent = "";

                let rawValue = signinForm.password.value;
                signinForm.password.value = await hashSHA256(rawValue);
                signinForm.submit();
                signinForm.password.value = rawValue;
                
            }
        </script>

    </body>
</html>