<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Sign in</title>
    <script src="/javascripts/hash.js"></script>
</head>
<body class="bg-light">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a href="/" class="btn btn-primary mt-5">Accueil</a>
            <% if (locals.message) %>
            <div class="alert alert-warning"><%- locals.message %></div>
            <form name="signinForm" action="/account/signin" method="POST" class="mt-4">
                <h2 class="mb-4">Connexion</h2>
                <div class="form-group">
                    <label for="username">Nom d'utilisateur :</label>
                    <input type="text" name="username" class="form-control" value="<%= locals.username ?? '' %>"/>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe :</label>
                    <input type="password" name="password" class="form-control"/>
                    <small id="passwordMessage" class="form-text text-muted"></small>
                </div>
                <button type="submit" class="btn btn-success">Se connecter</button>
            </form>
        </div>
    </div>
</div>

<script>
    let signinForm = document.forms.signinForm;
    signinForm.addEventListener("submit", (e) => {
        e.preventDefault();
        validateSignIn();
    });

    async function validateSignIn() {
        let passwordMessage = document.getElementById("passwordMessage");
        let passwordRepeated = document.getElementById("passwordRepeated");
        passwordMessage.textContent = "";

        let rawValue = signinForm.password.value;
        signinForm.password.value = await hashSHA256(rawValue);
        signinForm.submit();
        signinForm.password.value = rawValue;
    }
</script>
</body>
</html>
