<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Créer un document</title>
</head>
<body class="bg-light">
<%- include('../navbar.ejs') %>)

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form name="createSheetForm" action="/sheet/new" method="POST" class="mt-4">
                <h2 class="mb-4">Créer un document</h2>
                <div class="form-group">
                    <label for="sheetNameInput">Nom du document :</label>
                    <input type="text" name="sheetName" id="sheetNameInput" class="form-control" size="40" required/>
                </div>
                <button type="submit" class="btn btn-success">Créer le document</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>