<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/stylesheets/index.css" />
        <title>Créer un document</title>
    </head>
    <body>
        <a href="/" class="button">Accueil</a>
        <form name="createSheetForm" action="/sheet/new" method="POST">
            <label for="sheetNameInput">Nom du document : </label>
            <input type="text" name="sheetName" size="40" required/>

            <div><input type="submit" value="Créer le document"/></div>
        </form>
    </body>
</html>