<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/stylesheets/index.css" />
        <title>Index</title>
    </head>
    <body>
        <% if (locals.user) { %>
            <p>Bienvenue utilisateur : <%= locals.user.username %></p>
            <div>
                <a href="/account/signoff" class="button">Sign out</a>
            </div>
            <div>
                <a href="/sheet/new" class="button">Créer un document</a>
            </div>
            <ul>
                <% if(users[locals.user.username]) { %>
                    <% for([id, sheet] of Object.entries(users[locals.user.username].ownedSheets)) { %>
                        <li><a href="/sheet/<%= id %>" class="button"><%= sheet.name %></a></li>
                    <% } %>
                <% } %>
            </ul>
        <% } else { %>
            <table>
                <tbody>
                <tr>
                    <td><a href="/account/signin" class="button">Sign in</a></td>
                    <td><a href="/account/signup" class="button">Sign up</a></td>
                </tr>
                </tbody>
            </table>
        <% } %>
        
        <h1>Hello</h1>
    </body>
</html>