<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/stylesheets/index.css" />
        <title>Easy Collab</title>
    </head>
    <body>
        <h1>Easy Collab</h1>
        <% if (locals.user) { %>
            <p>Bienvenue utilisateur : <%= locals.user.username %></p>
            <div>
                <a href="/account/signoff" class="button">Se déconnecter</a>
            </div>
            <div>
                <a href="/sheet/new" class="button">Créer un document</a>
            </div>
            <table>
                <% if(users[locals.user.username]) { %>
                    <% if(Object.keys(users[locals.user.username].ownedSheets).length > 0) { %>
                        <p> Ouvrir un document : </p>
                        <% for([id, sheet] of Object.entries(users[locals.user.username].ownedSheets)) { %>
                            <tr>
                                <td><a href="/sheet/<%= id %>" class="button"><%= sheet.name %></a></td>
                                <td>
                                    <form method="POST" action="/sheet/<%= id %>?_method=DELETE">
                                        <input type="hidden" name="name" value="value" /> 
                                        <a class="button" onclick="this.parentNode.submit();">Supprimer</a>
                                    </form>
                                </td>
                            </tr>  
                        <% } %>
                    <% } else {%>
                        <p> Aucun document. </p>
                    <% } %>
                <% } %>
            </table>
        <% } else { %>
            <table>
                <tbody>
                <tr>
                    <td><a href="/account/signin" class="button">Se connecter</a></td>
                    <td><a href="/account/signup" class="button">Créer un compte</a></td>
                </tr>
                </tbody>
            </table>
        <% } %>
        
        
    </body>
</html>