table,
td {
  border: 1px solid #333;
  border-collapse:collapse
}

th
{
  border: 1px solid #333;
  background-color: #cfcfcf;
  color: #333;
  border-collapse:collapse
}

input[type=text]#cell
{
    border: 0px
}
